<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>

    <link rel="StyleSheet" type="text/css" href="../../resources/css/EstiloAcessoRestrito.css" media="screen"></link>

    <h:head>
        <title>Livraria TMG</title>
    </h:head>

    <h:body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="../index.xhtml"><img src="../../resources/img/Logo.png" width="150px"></img></a> &nbsp; <h1 class="p1">Livraria TMG</h1>          


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active" >
                        <a class="nav-link" href="../CadastroLivros/CadastraLivros.xhtml">Cadastro de Livros <span class="sr-only">(current)</span></a>
                    </li>

                    &nbsp;
                    &nbsp;

                    <li class="nav-item active" >
                        <a class="nav-link" href="../CadastroUsuarios/CadastraUsuarios.xhtml" >Cadastro de Usuários<span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0">

                    <a href="../index.xhtml"><h:graphicImage library="img" title="Voltar" name="voltar.png"></h:graphicImage></a>

                    &nbsp;
                    &nbsp;

                    <input class="form-control form-control-lg"  type="search" placeholder="Pesquisar" aria-label="pesquisa"></input>


                    <a href="#"><img src="../../resources/img/lupa.png" width="30px;" title="Pesquisar"></img></a>

                    &nbsp;
                    &nbsp;

                    <a href="../../index.xhtml"><img src="../../resources/img/exit.png" width="32px;" title="Sair"></img></a>
                </form>
            </div>
        </nav>

        <hr></hr>

        <center>  

            <h1 class="p2">Bem vindo ao Listar Livros da Livraria TMG.</h1>

            <br></br>

            <h5 id="user1" class="card-header">Livros</h5>

            <br></br>

            <p:dataTable id="tabela" var="aluno" value="">
                <p:column headerText="Código" style="width: 75px ; text-align: center;">
                    <h:outputText value="" />
                </p:column>

                <p:column headerText="Autor">
                    <h:outputText value="" />
                </p:column>

                <p:column headerText="Titulo">
                    <h:outputText value="" />
                </p:column>

                <p:column headerText="Preço">
                    <h:outputText value="" />
                </p:column>
            </p:dataTable>

        </center>


    </h:body>
</html>